<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
        .btn-orange {
            background-color: orange;
            color: white;
        }
        .btn-small {
            padding: 2px 5px;
            font-size: 10px;
            margin-left: 3px;
        }
        .review-actions {
            display: inline-block;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">리뷰 정보</h5>
            <div class="list-group">
                <p class="card-text" th:text="'전체 평점 : ' + ${averageRating}">전체 평점</p>
                <div class="list-group-item" th:each="review : ${reviewList}">
                    <span th:text="${review.rating}">rating</span>
                    <span th:text="${review.content}">content</span>
                    <span th:text="${review.createdAt}">createdAt</span>
                    <div class="review-actions">
                        <button class="btn btn-orange btn-small"
                                th:onclick="|location.href='@{/restaurants/{restaurantId}/reviews/{reviewId}/update(restaurantId=${restaurantId}, reviewId=${review.reviewId})}'|"
                                type="button">수정</button>
                        <form th:action="@{/restaurants/{restaurantId}/reviews/{reviewId}(restaurantId=${restaurantId}, reviewId=${review.reviewId})}" method="post" th:method="delete">
                            <button class="btn btn-danger btn-small" type="submit">삭제</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-orange btn-lg"
                    th:onclick="|location.href='@{/restaurants/{restaurantId}(restaurantId=${restaurantId})}'|"
                    type="button">뒤로</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-orange btn-lg"
                    th:onclick="|location.href='@{/restaurants/{restaurantId}/reviews/create(restaurantId=${restaurantId})}'|"
                    type="button">리뷰 작성</button>
        </div>
    </div>
</div>
</body>
</html>
