<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
        .btn-container {
            display: flex;
            justify-content: flex-end; /* 오른쪽으로 정렬 */
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .page-item {
            margin: 0 5px;
        }
        .sort-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .sort-buttons .btn {
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center mb-4">
        <h2 th:text="'식당 리스트'">식당 리스트</h2>
    </div>

    <div class="row btn-container mb-3">
        <!-- 로그아웃 버튼 -->
        <div class="col-auto" th:if="${isLoggedIn}">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/logout}'|" type="submit">로그아웃</button>
            </form>
        </div>
        <!-- 로그인 및 회원가입 버튼 -->
        <div class="col-auto" th:if="${!isLoggedIn}">
            <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/login}'|" type="button">로그인</button>
        </div>
        <div class="col-auto" th:if="${!isLoggedIn}">
            <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/signup}'|" type="button">회원가입</button>
        </div>

    </div>

    <hr class="my-4">

    <!-- 정렬 버튼들 -->
    <div class="sort-buttons">
        <a th:href="@{/restaurants(criteria='reviewCount', page=0, size=${restaurantPreviewPage.size})}"
           class="btn btn-primary" th:classappend="${criteria == 'reviewCount'} ? 'active' : ''">리뷰 순</a>
        <a th:href="@{/restaurants(criteria='scrapCount', page=0, size=${restaurantPreviewPage.size})}"
           class="btn btn-primary" th:classappend="${criteria == 'scrapCount'} ? 'active' : ''">스크랩 순</a>
        <a th:href="@{/restaurants(criteria='rating', page=0, size=${restaurantPreviewPage.size})}"
           class="btn btn-primary" th:classappend="${criteria == 'rating'} ? 'active' : ''">별점 순</a>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">식당 정보</h5>
            <div class="list-group">
                <!-- 식당 정보 리스트 -->
                <div class="list-group-item" th:each="preview : ${restaurantPreviewPage.content}"
                     th:onclick="|location.href='@{/restaurants/{restaurantId}(restaurantId=${preview.restaurantId})}'|">
                    <span th:text="${preview.name}">식당 이름</span>
                    <span th:text="${preview.averageRating}">평점</span>
                    <span th:text="${preview.reviewCount}">리뷰 수</span>
                    <span th:text="${preview.foodType}">음식 종류</span>
                    <span th:text="${preview.serviceType}">서비스 종류</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- 이전 페이지 버튼 -->
            <li class="page-item" th:classappend="${!restaurantPreviewPage.hasPrevious()} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/restaurants(page=${restaurantPreviewPage.number - 1}, size=${restaurantPreviewPage.size}, criteria=${criteria})}" th:text="'Previous'"></a>
            </li>

            <!-- 페이지 번호 버튼 -->
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == restaurantPreviewPage.number + 1} ? 'active' : ''">
                <a class="page-link" th:href="@{/restaurants(page=${i - 1}, size=${restaurantPreviewPage.size}, criteria=${criteria})}" th:text="${i}"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li class="page-item" th:classappend="${!restaurantPreviewPage.hasNext()} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/restaurants(page=${restaurantPreviewPage.number + 1}, size=${restaurantPreviewPage.size}, criteria=${criteria})}" th:text="'Next'"></a>
            </li>
        </ul>
    </nav>

</div> <!-- /container -->
</body>
</html>
