<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
            margin-top: 20px;
        }

        .card {
            margin-bottom: 20px;
        }

        .phone-number {
            margin-top: 20px;
        }

        .btn-orange {
            background-color: orange;
            color: white;
        }

        .btn-orange:hover {
            background-color: darkorange;
            color: white;
        }

        .button-container {
            margin-bottom: 20px;
        }

        .top-right-buttons {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1000;
        }

        .card-body {
            position: relative;
        }

        .map-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="position-relative">
        <div class="top-right-buttons">
            <!-- 조건에 따라 버튼 표시 -->
            <div class="d-flex flex-column align-items-end">
                <!-- 웨이팅 등록 버튼 -->
                <button class="btn btn-orange btn-lg mb-2"
                        th:if="${restaurant.serviceType == T(org.example.catch_line.restaurant.model.entity.constant.ServiceType).WAITING}"
                        th:onclick="|location.href='@{/restaurants/{restaurantId}/waiting(restaurantId=${restaurant.restaurantId})}'|"
                        type="button">웨이팅 등록
                </button>

                <!-- 예약 등록 버튼 -->
                <button class="btn btn-orange btn-lg"
                        th:if="${restaurant.serviceType != T(org.example.catch_line.restaurant.model.entity.constant.ServiceType).WAITING}"
                        th:onclick="|location.href='@{/restaurants/{restaurantId}/reservation(restaurantId=${restaurant.restaurantId})}'|"
                        type="button">예약 등록
                </button>
            </div>
        </div>
        <div class="col text-center">
            <h2 th:text="#{restaurant.information}">식당 정보</h2>
        </div>
    </div>

    <div class="row mb-4 btn-container">
        <div class="col-auto">
            <button class="btn btn-orange btn-lg"
                    th:onclick="|location.href='@{/restaurants}'|"
                    type="button">뒤로
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${restaurant.name}">식당 이름</h5>
            <p class="card-text" th:text="${restaurant.description}">식당 내용</p>
            <p class="card-text">
                <span th:text="'평점 : ' + ${restaurant.averageRating} + ' / '"></span>
                <span th:text="${restaurant.reviewCount} + '개의 리뷰'"></span>
            </p>
            <div class="list-group">
                <p class="card-text">영업 시간</p>
                <div class="list-group-item">
                    <span th:text="${dayOfWeek}">Monday</span>
                    <span th:text="${hourResponse.openTime}">09:00</span>
                    <span th:text="${hourResponse.closeTime}">21:00</span>
                    <span th:text="${hourResponse.openStatus}">OPEN</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:if="${true}" disabled type="button">홈</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-orange btn-lg"
                    th:onclick="|location.href='@{/restaurants/{restaurantId}/menus(restaurantId=${restaurant.restaurantId})}'|"
                    type="button">메뉴
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-orange btn-lg"
                    th:onclick="|location.href='@{/restaurants/{restaurantId}/reviews(restaurantId=${restaurant.restaurantId})}'|"
                    type="button">리뷰
            </button>
        </div>
    </div>

    <hr class="my-4">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">영업 정보</h5>
            <div class="list-group">
                <p class="card-text">영업 시간</p>
                <div class="list-group-item" th:each="restaurantHour : ${restaurantHours}">
                    <span th:text="${restaurantHour.dayOfWeek}">Monday</span>
                    <span th:text="${restaurantHour.openTime}">09:00</span>
                    <span th:text="${restaurantHour.closeTime}">21:00</span>
                </div>
            </div>
            <div class="list-group phone-number">
                <p class="card-text" th:text="'전화번호 : ' + ${restaurant.phoneNumber}">전화번호</p>
            </div>
        </div>
    </div>

    <!-- 위치 정보 -->
    <div class="card map-container">
        <div class="card-body">
            <h5 class="card-title">위치 정보</h5>
            <div id="map" style="width:100%; height:400px;"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var jsKey = /*[[${jsKey}]]*/ '';
                var latitude = /*[[${restaurant.latitude}]]*/ ''; // y 좌표
                var longitude = /*[[${restaurant.longitude}]]*/ ''; // x 좌표

                document.write('<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=' + jsKey + '&libraries=services,clusterer,drawing"><\/script>');
                /*]]>*/
            </script>
            <script>
                // 지도가 표시될 div와 지도 옵션을 설정
                var mapContainer = document.getElementById('map'),
                    mapOption = {
                        center: new kakao.maps.LatLng(latitude, longitude), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                // 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 마커가 표시될 위치입니다
                var markerPosition  = new kakao.maps.LatLng(latitude, longitude);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
            </script>
            <p th:text="'도로명 주소 : ' + ${document.roadAddress.addressName}"></p>
            <p th:text="'지번 주소 : ' + ${document.address.addressName}"></p>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>
